body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
  overflow: hidden;
  background-color: #F3F7F8;
  width: 30%;
  float: left;
}

.nav1 a {
  float: left;
  color: #434444;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 12px;
  cursor:pointer;
  
}


.nav2 {
  overflow: hidden;
  background-color: #F3F7F8;
  width: 70%;
  float: right;
}

.nav2 a {
  float: right;
  color: #828282;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 12px;
  cursor:pointer;
  
}

.button {
    background-color: #E74B24;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    border-radius: 4px;
    cursor: pointer;
}

.nav3 {
  overflow: hidden;
  background-color: #FFFFFF;
  width: 100%;
  float: left;
}

.nav3 a {
  float: left;
  color: #828282;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 12px;
  cursor:pointer;
  
}

.nav4 {
  overflow: hidden;
  background-color: #012B72;
  width: 100%;
  float: center;
}

.nav4 a {
  float: left;
  color: white;
  text-align: center;
  padding: 8px 20px;
  margin:10px;
  text-decoration: none;
  font-size: 12px;
  cursor:pointer;
  
}

